
* {
  box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.6;
    color: #000000;
}

  /* Text Elements Styling */

h1, h2, h3, h4 {
    line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

#work h1 {
  text-align: center;
}

#about h1{
  text-align: center;
}

#mystory h2{
  text-align: center;
}

#contact h2 {
  text-align: center;
}

  /* Image Styling */

img {
    width: 100%;
  }

  /* Link Styling */

a{
    color: #000000;
    text-decoration: none;
}

a:visited{
    color: #000000;
}
a:hover,
a:focus{
    color: #467C86;
    text-decoration: none;

}

a:active{
    color: #467C86;
}

/* Button Styling */

.button.readmore {
    display: inline-block;
    background-color: #197574;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid;
    transition: 0.2s opacity;
}

.button.readmore:hover{
    opacity: 0.8;
    text-decoration: none;
}

.button.cv{
    display: inline-block;
    background-color: #197574;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid;
    transition: 0.2s opacity;
}

.button.cv:hover{
    opacity: 0.8;
    text-decoration: none;
}


.button.email{
    display: inline-block;
    background-color: #197574;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid;
    transition: 0.2s opacity;
}

.button.email:hover{
    opacity: 0.8;
    text-decoration: none;
}

/* Header*/


header{
  background-color: #e0e0e0;
  text-align: center;
  padding: 10px;
  position: relative;
  box-shadow:7px 7px 19px 0px rgba(50, 50, 50, 0.52);
}

.socialmedia {
  display: inline-block;
}

/* Layout styling */

.container {
  padding: 0 15px
}

.row {
  margin: 25px 0;
}


#work .row { 
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; 
}

/* Navigation Bar */

.logo {
  max-width: 250px;
  margin: 0 auto;
  display: block;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}

nav > ul > li > a:visited {
}

nav > ul > li > a:hover {
  color: #197574
}

nav > ul > li > a:active {

}

/* BODY */

#work-page h3 {
  margin-top: 0px;
}

/* Footer Section */

#contact {
  background: #EBEBEB;
  padding: 10px;
}

.social-media {
  text-align: center;
  padding-bottom: 10px;
}

.social-media a {
  display: inline-block;
  width: 50px;
  height: auto;
  margin: 0 5px;
}

.social-media svg {
  width: 100%;
  height: 100%
}

.mailsection {
  text-align: center;
  padding-bottom: 50px;
}

/* Hero Section */

#hero {
  background-color: #EBEBEB;
  padding: 20px 0;
  display: inline-block;
  width: 100%
}

#hero h1 {
  color: #000000;
}

#hero p{
  font-size: 25px;
  text-align: center;
  color: #000000; 
}

/* HomeAdvice */

.headerimage{
  padding: 50px 0;
}

.whitebox {
  background-color: #ffffff ;
  padding: 100px 70px;
}

.bluebox {
  background-color: #467C86;
  padding: 100px 70px
}

.container1 {
  width: 80%;
  margin: auto;
}

.projectbackground {
  background-color: #EBEBEB;
}

.container1 h2 {
  text-align: center;
  margin-top: -50px;
}

/* Animation */

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation-duration: 34s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}




/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .logo {
    margin: 0;
    display: inline-block;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 50px;
  }

  body {
    font-size: 14px;
  }


  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  body {
    font-size: 18px;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}