/*
Colors used:
Text Color: #000000
Main Background Color (Black): #000000
Section Color 1 (White): #FFFFFF
Section Color 2 (Blue): #467C86
*/

font-family: 'Open Sans', sans-serif;

body {
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 19;
    font-weight: 400;
    line height: 1.6;
    color: #000000;
}

  /* Text Elements Styling */

h1, h2, h3, h4 {
    line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

  /* Image Styling */

img {
    width: 100%;
  }

  /* Link Styling */

a{
    color: #352DEA;
    text-decoration: none;
}

a:visited{
    color:#352DEA;
}
a:hover,
a:focus{
    color: #219896;
    text-decoration: underline;

}

a:active{
    color: #219896;
}

/* Button Styling */

.button.readmore {
    display: inline-block;
    background-color: #299896;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid;
    transition: 0.2s opacity;
}

.button.readmore:hover{
    opacity: 0.8;
    text-decoration: none;
}

.button.cv{
    display: inline-block;
    background-color: #299896;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid;
    transition: 0.2s opacity;
}

.button.cv:hover{
    opacity: 0.8;
    text-decoration: none;
}

.button.email{
    display: inline-block;
    background-color: #299896;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid;
    transition: 0.2s opacity;
}

.button.email:hover{
    opacity: 0.8;
    text-decoration: none;
}